[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mouse = "*"
python-imagesearch = {git = "https://github.com/marosiak/python-imagesearch"}

[dev-packages]

[requires]
python_version = "3.9"
